{% extends 'base.html'%}


{%block content%}
<div class="container p-2 mt-4">
    <div class="p-2 m-2">
        <div class="col-lg-3 mt-4 mx-auto border rounded p-4 shadow p-2 mb-5 bg-white rounded">
            <div class="alert alert-success border rounded">Create An Account</div>
            {% if error %}
              <div class="alert alert-danger border rounded">{{error}}</div>
              {%endif%}
            <form action="/signup" method="POST">
                 

                {% csrf_token%}
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname" id="" class="form-control" placeholder="Enter Your FirstName" aria-describedby="helpId">
                    
                </div>
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" id="" class="form-control" placeholder="Enter Your LastName" aria-describedby="helpId">
                    
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" id="" class="form-control" placeholder="example@gmail.com" aria-describedby="helpId">
                    
                </div>
                <div class="form-group">
                    <label for="">PassWord</label>
                    <input type="password" name="password" id="" class="form-control" placeholder="********" aria-describedby="helpId">
                    
                </div>
                <div class="form-group mt-3 ">
                    <input class="btn btn-sm btn-info shadow p-2 mb-5 rounded" type="submit" value="create a account">
                </div>
            </form>
        </div>
    </div>
   
    
</div>
{%endblock%}